# videos are too large
# //1.前端学科--基础阶段/1.6 HTML5 核心技术/code/day11/resource/video
**/day11/resource/video

# 1.前端学科--基础阶段/1.2 CSS2.1
# 1.前端学科--基础阶段/1.3-1.5 CSS3 + Less + BootStrap
1.前端学科--基础阶段/1.6 HTML5 核心技术
1.前端学科--基础阶段/1.7 HTML5 实战